 <!-- Home Page for the users -->

 <div class="jumbotron">
  <h1>Welcome to Fantasy Football</h1>

  <% if @current_user.present?  %>
    <p>Welcome back <%= @current_user.name %>. Please continue to your Team or Players page</p>
    <% else %>
    <p>Click on the sign in or log in to continue</p>
  <% end  %>
  <div class='ball'>  <!-- CSS I Found for the turning ball -->
    <div></div>
  </div>
</div>
