<h1>Please see all available teams below</h1>

<div class="card-group">

<% @teams.each do |t| %>
<div class="card" style="width: 18rem;">
  <%= link_to t.name, team_path(t.id), :class => "btn btn-primary"%>
  <%= image_tag t.image, :class => "card-img" %>
</div>
<% end %>
</div>
